<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.settings.lemon.overlay"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.settings"
                android:requiredSystemPropertyName="ro.product.model"
  android:requiredSystemPropertyValue="M2010J19SY"
  android:priority="800"
  android:isStatic="true" />
</manifest>
